
.objective-desc {
    font-family: Tajawal;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: var(--green-darker);
}
#objective-container {
    width: 100%;
    display: block;
    color: var(--green-darker)
}
.objective-title {
    font-family: zaridSerif;
    font-weight: 600;
    font-size: 42px;
    line-height: 62px;
    color: var(--green-darker);
}
@media screen and (min-width: 768px){
    #objective-desktop-container{
        height: 665px;
    } 
    #objective-container {
        position: absolute;
        left: 0px;
        height: 665px; 
        padding-top: 75px;
        padding-bottom: 75px;
    }
    .objective-content{
        padding-inline-start: 50px;
    }
    .objective-desc{
        width:670px;
    }
}

@media screen and (max-width: 768px){
    #objective-desktop-container{
        margin-inline: var(--mobile-padding);
    }
    #objective-container {
        padding-top:42px;
        padding-bottom:42px;
    }
    .objective-content{
        margin-top: 32px;
    }
    .teacher-item{
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .teacher-details{
        width: 370px;
    }
   
}