li.selected-item {
    opacity: 1 !important;
}



.account-items ul {
    list-style: none;
    padding: 0px;
}

.account-items li {
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: zaridSerif;
    font-size: 24px;
    font-weight: 600;
    line-height: 31px;
}



.account-items li:not(:last-child) {
    border-bottom: 1px solid rgba(87, 114, 50, 0.15);
}

.account-details div {
    margin-bottom: 40px;
}

.account-details h2:nth-child(1) {
    margin-bottom: 10px;
}

.account-details h2:nth-child(3) {
    margin-bottom: 25px;
}

.account-details p {
    font-family: Tajawal;
    font-size: 22px;
    font-weight: 500;
    line-height: 29px;
    margin-inline-start: 10px;
    color: var(--green-darker);
    margin-bottom: 0px;
}

.account-details h2 {
    font-family: zaridSerif;
    font-size: 32px;
    font-weight: 600;
    line-height: 47px;
    color: var(--green-darker);
}

@media screen and (min-width: 768px) {
    .account-items li {
        opacity: 0.5;
    }

    .account-container {
        margin-inline-start: 72px;
        margin-top: 20px;
    }

    .account-items {
        border-inline-end: 1px solid rgba(87, 114, 50, 0.15);
    }

    .account-items .arrow {
        display: none;
    }

    .table {
        width: 90%;
    }
    
    .table .header,
    .table-row {
        display: flex;
        padding-inline: 50px;
    }
}

@media screen and (max-width: 768px) {
    .account-items li:not(:last-child){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .table {
        width: 100%;
        display: flex;
        padding-inline: 24px;
        justify-content: space-between;
        overflow: hidden;
    }
    .table-row{
        text-align: end;
        line-height: 50px !important;
    }
    .table .header,
    .table-row{
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .table .header .col{
        line-height: 50px !important;
        position: relative;
    }
    .table .header .col:not(:last-child)::after,
    .account-row:not(:last-child)::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: -25px;
        border-top: 1px solid rgba(87, 114, 50, 0.2);
        width: 800px;
    }
    .account-row{
        position: relative;
        padding-bottom: 25px;
    }
    .account-details{
    overflow: hidden;
    }
    .account-row:not(:last-child)::after{
    margin-inline: var(--mobile-padding);
    }
}

.table {
    background-color: rgba(255, 252, 251, 0.8);
    margin-top: 25px;
    border-radius: 5px;
}

.table .header {
    font-family: zaridSerif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #5C6146;
    padding-top: 25px;
    padding-bottom: 25px;
}

.table-row {
    border-top: 1px solid rgba(87, 114, 50, 0.15);
    color: rgba(92, 97, 70, 0.8);
    font-family: Tajawal;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    padding-top: 26px;
    padding-bottom: 26px;
}

.pending {
    color: #C09149;
}

.approved {
    color: #577232;
}

.table-row .actions img {
    padding-inline: 2px;
}

.account-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.img-profile{
    margin-bottom:25px;
}