@media screen and (min-width: 768px) {
    #about-us{
        left: 0px;
    }
    #about-us img{
        left: 0px;
    right: unset;
    }
    .yoga-news-badge{
        right: 55px;
        left: unset;
    }
}

body {
    direction: rtl;
}
.public-pages select{
    appearance: none;
    background-image: url('./assets/images/public/arrow.png');
    background-repeat:no-repeat;
    background-position: 12px center;
    background-size: 10px;
}
#platform-page img{
    left: 0px;
    right: unset !important;
}
.curve{
    border-color: transparent transparent transparent linen !important;
}
.curve-1{
    border-radius:64% 36% 70% 30% / 100% 67% 33% 0%  ;
    left: 0px;
    right: unset;
}
.curve-2{
    border-radius:73% 27% 70% 30% / 100% 67% 33% 0%  ;
    left: 10px;
    right: unset;
}
.curve-3{
    border-radius:85% 15% 70% 30% / 100% 67% 33% 0%   ;
    left: 20px;
    right: unset;
}
.curve-4{
    border-radius:91% 9% 70% 30% / 100% 67% 33% 0%   ;
    left: 30px;
    right: unset;
}
.account-items .arrow,
.account-details .arrow{
    transform: rotate(180deg);
}
.table .header .col:not(:last-child)::after{
    right: -25px;
    left: unset;
}