@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@model yoga.ViewModels.ChangePasswordVM
@{
    @* ViewData["Title"] = "Register"; *@
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="yoga-layout">
    <div class="container public-pages">
        @* <h1 class="page-header text-center">@localizer["PageTitle"]</h1> *@
        <h1 class="page-header text-center">Change Password</h1>

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="formgroup">
                <label>Old Password</label>
                <input asp-for="OldPassword" type="password" placeholder='Old Password *' />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>

            <div class="formgroup">
                <label>Password</label>
                <input asp-for="Password" type="password" placeholder='@localizer["Password"] *' />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="formgroup">
                <label>Confirm Password</label>
                <input asp-for="ConfirmPassword" type="password" placeholder='@localizer["ConfirmPassword"] *' />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <p class="register-info">
            </p>
            <button class="btn btn-brown-primary w-100">@localizer["Submit"]</button>
        </form>
    </div>
</div>




@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<partial name="_ValidationScriptsPartial" />
}