@model ForgotPasswordViewModel

<div class="yoga-layout">


<div class="row">
    <div class="col-md-12">
        <form method="post">
                <div class="container public-pages">
                    <h2>Forgot Password</h2>

                    <div asp-validation-summary="All" class="text-danger"></div>
                        <input placeholder="Type Your Email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    <p class="forget-password">
                        </p>
                    <button type="submit" class="btn btn-brown-primary w-100">Submit</button>
            </div>
        </form>
    </div>
</div>
</div>