<div class="yoga-layout">
    <div class="container public-pages">
        <h4>
            Your password is reset. Please click <a asp-action="Login" class="btn btn-brown-primary w-100">here to login</a>
        </h4>
    <</div>
</div>