@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/assets/css/account-details.css" rel="stylesheet">

<div class="d-lg-flex">
    <partial name="_AdminMenu" />
    <div class="account-container account-details">


    
        <div class="alert alert-success">Your request has been sent successfully. Our team will review it and approve it as soon as possible. Thank you.</div>
        <div><a asp-controller="Account" asp-action="UserProfile">Go to Your profile to see the membership card status</a></div>


</div>
</div>

