@model yoga.ViewModels.TechearMemberShipVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject UserManager<AppUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    var imagePath = user.UserImage;
}

<link href="~/assets/css/account-details.css" rel="stylesheet">


<div class="d-lg-flex">
    <partial name="_AdminMenu" />
    <div class="account-container account-details">

        <form method="post" enctype="multipart/form-data">

            @if (ViewData["Saved"] != null)
            {
                <div class="alert alert-success">@ViewData["Saved"]</div>
                <div><a asp-controller="Account" asp-action="UserProfile">Go to Your profile to see the licence status</a>
                </div>
            }



            <div class="border p-3 mt-4">
                <h2>Teacher Licence Issue</h2>
                <div asp-validation-summary="All" class="text-danger"></div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" id="liHome" href="#home">Basic Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" id="liProfile" href="#profile">Expreience</a>
                    </li>
                    @* <li class="nav-item"> *@
                    @* <a class="nav-link" data-bs-toggle="tab" href="#payfees">Pay Fees</a> *@
                    @* </li> *@
                    @* <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#status">Status</a>
                        </li> *@

                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade active show" id="home">

                        <div class="mb-3">
                            <label asp-for="EducationLevel"></label>
                            <select name="EducationLevel" id="EducationLevel" class="form-control"
                                asp-for="EducationLevel" asp-items="@Model.EducationLevels">
                            </select>
                            @* <select asp-for="EducationLevel"name="EducationLevel" id="EducationLevel"
                                class="form-control">
                                <option value="0">Select ...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                </select> *@
                            <span asp-validation-for="EducationLevel" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SocialMediaAccounts"></label>
                            <input asp-for="SocialMediaAccounts" class="form-control" />
                            <span asp-validation-for="SocialMediaAccounts" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PersonalWebSite"></label>
                            <input asp-for="PersonalWebSite" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="TeachingType"></label>
                            <select asp-for="TeachingType" asp-items="@Model.TeachingTypes" class="form-control">

                            </select>
                            <span asp-validation-for="TeachingType" class="text-danger"></span>
                        </div>
                        @if (string.IsNullOrEmpty(imagePath))
                        {
                            <div class="mb-3">
                                <div id="upload-container" class="text-center">
                                    <label>
                                        <img src="~/assets/images/public/upload.png" />
                                        <br />

                                        <input asp-for="Image" id="inputTag" class="upload-text" type="file" />
                                        <br />
                                        <p class="extensions" id="imageName">
                                            JPG , PNG , PFD
                                        </p>
                                    </label>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="tab-pane fade" id="profile">
                        <div class="mb-3">
                            <label asp-for="ExpYears"></label>
                            <input asp-for="ExpYears" class="form-control" />
                            <span asp-validation-for="ExpYears" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="AccreditedHours"></label>
                            <input asp-for="AccreditedHours" class="form-control" />
                            <span asp-validation-for="AccreditedHours" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SchoolLocation"></label>
                            <input asp-for="SchoolLocation" class="form-control" />
                            <span asp-validation-for="SchoolLocation" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CertaficateDate"></label>
                            <input type="date" asp-for="CertaficateDate" asp-format="yyyy-mm-dd" class="form-control" />
                            <span asp-validation-for="CertaficateDate" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SchoolName"></label>
                            <input asp-for="SchoolName" class="form-control" />
                            <span asp-validation-for="SchoolName" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SchoolLink"></label>
                            <input asp-for="SchoolLink" class="form-control" />
                            <span asp-validation-for="SchoolLink" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="SchoolSocialMediaAccount"></label>
                            <input asp-for="SchoolSocialMediaAccount" class="form-control" />
                            <span asp-validation-for="SchoolSocialMediaAccount" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="CertficateFiles"></label>
                            <input id="CertficateFiles" type="file" multiple asp-for="CertficateFiles"
                                class="form-control" />
                            <span asp-validation-for="CertficateFiles" class="text-danger"></span>
                            <span>You can select more than file.</span>
                        </div>
                        <div class="mb-3">
                            <input asp-for="Agreement" name="Agreement" type="checkbox"> <span class="fw-bold">Agree on
                                Terms and Conditions and
                                Acknowledged</span>
                        </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-brown-outline about-btn">Submit</button>
                    </div>
                    </div>
                    
                </div>
            </div>
           
            
        </form>
    </div>
</div>

</div>
</div>

</div>
</div>











@section Scripts {
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<partial name="_ValidationScriptsPartial" />

}