@{
    Layout = "~/Views/Shared/_Layoutar.cshtml";
}

<div class="container main-content">
		<div class="row">
			
		<div id="fws_62f0177a85d9f" data-column-margin="default" data-midnight="dark" data-top-percent="8%" data-bottom-percent="10%" class="wpb_row vc_row-fluid vc_row top-level full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-middle  zindex-set right_padding_6pct left_padding_6pct top_padding_tablet_20pct top_padding_phone_25pct" style="padding-top: calc(100vw * 0.08); padding-bottom: calc(100vw * 0.10);  z-index: 100;">
<div class="row-bg-wrap" data-bg-animation="fade-in" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div id="fws_62f0177a87f1e" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle reverse_columns_column_phone">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-1/5 vc_col-md-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_10px inherit_tablet inherit_phone mobile-disable-entrance-animation " data-t-w-inherits="small_desktop" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="500">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inline-block " data-color="default" data-using-bg="false" data-display="block" data-style="underline" data-alignment="right" data-text-color="custom" style="margin-right: 25px; "><h6 style="color: #1c5b50;"> <span class="text"> </span><span class="link_wrap"><a class="link_text" style="border-color: #1c5b50;" href="#who-we-are">من نحن</a></span>
</h6></div>
<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inline-block " data-color="default" data-using-bg="false" data-display="block" data-style="underline" data-alignment="right" data-text-color="custom" style="margin-right: 25px; "><h6 style="color: #1c5b50;"> <span class="text"> </span><span class="link_wrap"><a class="link_text" style="border-color: #1c5b50;" href="#vision-mission">هدفنا</a></span>
</h6></div>
<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inline-block " data-color="default" data-using-bg="false" data-display="block" data-style="underline" data-alignment="right" data-text-color="custom" style="margin-right: 25px; "><h6 style="color: #1c5b50;"> <span class="text"> </span><span class="link_wrap"><a class="link_text" style="border-color: #1c5b50;" href="#board-members">مجلس الإدارة</a></span>
</h6></div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4/5 vc_col-md-9 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-t-w-inherits="small_desktop" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-split-heading  font_size_tablet_9vw font_size_phone_10vw " data-align="right" data-m-align="inherit" data-text-effect="letter-reveal-bottom" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="true" data-stagger="true" data-custom-font-size="true" style="font-size: 95px; line-height: 102.6px;"><h1>حول اليوجا</h1></div>
		</div> 
	</div>
	</div> 
</div>
</div>
			</div> 
		</div>
	</div> 
</div>
</div>
		<div id="who-we-are" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-full-height vc_row-o-columns-stretch vc_row-o-equal-height vc_row-flex vc_row-o-content-middle  reverse_columns_column_phone" style="padding-top: 0px; padding-bottom: 0px; ">
<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark right">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-using-bg="true" data-bg-cover="true" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
<div class="column-image-bg-wrap viewport-desktop" data-n-parallax-bg="true" data-parallax-speed="very_subtle" data-bg-pos="center top" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="column-image-bg parallax-layer"></div></div></div>
			<div class="wpb_wrapper">
				<div class="img-with-aniamtion-wrap " data-max-width="100%" data-max-width-mobile="default" data-shadow="none" data-animation="fade-in">
      <div class="inner">
        <div class="hover-wrap"> 
          <div class="hover-wrap-inner">
            <img class="img-with-animation skip-lazy  nectar-lazy" data-delay="0" height="1536" width="2048" data-animation="fade-in" data-nectar-img-src="../assets3/wp-content/uploads/2022/06/IMG_1086.jpg" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%202048%201536'%2F%3E" alt="" data-nectar-img-srcset="../assets3/wp-content/uploads/2022/06/IMG_1086.jpg 2048w, ./wp-content/uploads/2022/06/IMG_1086-300x225.jpg 300w, ./wp-content/uploads/2022/06/IMG_1086-1024x768.jpg 1024w, ./wp-content/uploads/2022/06/IMG_1086-768x576.jpg 768w, ../assets3/wp-content/uploads/2022/06/IMG_1086-1536x1152.jpg 1536w, ../assets3/wp-content/uploads/2022/06/IMG_1086-600x450.jpg 600w" sizes="(max-width: 2048px) 100vw, 2048px">
          </div>
        </div>
      </div>
    </div>
			</div> 
		</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-5-percent inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				
<div class="nectar-animated-title" data-style="color-strip-reveal" data-color="accent-color">
	<div class="nectar-animated-title-outer">
		<div class="nectar-animated-title-inner">
			<div class="wrap"><h6 style="color: #ffffff;">اللجنة السعودية لليوجا</h6></div>
		</div>
	</div>
</div>
<div class="nectar-split-heading " data-align="default" data-m-align="inherit" data-text-effect="default" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="" data-stagger="true" data-custom-font-size="true" style="font-size: 3vw; line-height: 3.3vw;"><h3 style=" color: #1c5b50;">من نحن</h3></div>
<div class="wpb_text_column wpb_content_element ">
	<div class="wpb_wrapper">
		<p>اللجنة السعودية لليوغا هي لجنة رياضية تحت مظلة اللجنة الأولمبية العربية السعودية التابعة لوزارة الرياضة، تأسست في العام 2021م، وجاء تأسيس اللجنة نظراً لشعبية رياضة اليوغا وانتشارها الواسع في المملكة العربية السعودية، ووجود قاعدة جماهيرية لها، والرغبة الجادة في الإشراف على أنشطة هذه الرياضة في المملكة والعمل على تطويرها ودعم ممارسيها ومحترفيها، لتطوير أدائهم وتحسين جودة التدريب في المملكة لتحسين وتفعيل المشاركة الوطنية في البطولات والمسابقات الدولية الخاصة برياضة اليوغا مستقبلاً.</p>
	</div>
</div>




			</div> 
		</div>
	</div> 
</div>
</div>
		<div id="vision-mission" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-full-height vc_row-o-columns-stretch vc_row-o-equal-height vc_row-flex vc_row-o-content-middle" style="padding-top: 0px; padding-bottom: 0px; ">
<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark right">
	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col padding-5-percent top_margin_tablet_6pct top_margin_phone_6pct bottom_margin_tablet_6pct bottom_margin_phone_6pct inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				
<div class="nectar-animated-title" data-style="color-strip-reveal" data-color="accent-color">
	<div class="nectar-animated-title-outer">
		<div class="nectar-animated-title-inner">
			<div class="wrap"><h6 style="color: #ffffff;">الرؤية والرسالة</h6></div>
		</div>
	</div>
</div>
<div class="nectar-split-heading " data-align="default" data-m-align="inherit" data-text-effect="default" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="" data-stagger="true" data-custom-font-size="true" style="font-size: 3vw; line-height: 3.3vw;"><h3 style=" color: #1c5b50;">هدفنا</h3></div>
<div class="nectar-fancy-ul" data-list-icon="icon-salient-thin-line" data-animation="false" data-animation-delay="0" data-color="accent-color" data-spacing="default" data-alignment="left"> 
<ul>
<li>العمل على زيادة عدد الممارسين لرياضة اليوغا في المجتمع والتحفيز على نشر الوعي والحماس لممارستها كأسلوب حياة لجميع فئات المجتمع ومختلف الأعمار، وذلك بزيادة الفعاليات والمبادرات والتشيع عليها، وبناء جيل من محبي الرياضة ومحترفيها، يقودهم الشغف للخروج بمجتمع صحي رياضي يعي أن اليوغا للجميع، وهذا يؤدي لتحقيق التميز في المنافسات والمشاركات محلياً ودولياً.</li>
<li>أن نكون الفنار الإقليمي الداعم والمنظم لرياضة اليوغا من خلال تطوير البرامج التعليمية والترفيهية المستدامة، ورفع مستوى الوعي العام، عن طريق تأهيل مجتمع ممارس لرياضة اليوغا، بمضمونها ومبادئها الصحيحة، والتي ستؤدي للتمتع برفاهية العافية البدنية والنفسية.</li>
<li>الوصول إلى مجتمع يعي أهمية الصحة النفسية والبدنية، وأثرها على الحياة اليومية، من خلال توفير ودعم البرامج الرياضية والجلسات التوعوية بأنماطها المختلفة لجميع الفئات المجتمعية.</li>
</ul>
 </div>
			</div> 
		</div>
	</div> 

	<div class="vc_col-sm-6 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-using-bg="true" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
<div class="column-image-bg-wrap viewport-desktop" data-n-parallax-bg="true" data-parallax-speed="very_subtle" data-bg-pos="center center" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="column-image-bg parallax-layer" data-nectar-img-src="../assets3/wp-content/uploads/2022/06/DSC01879.jpg"></div></div></div>
			<div class="wpb_wrapper">
				<div class="divider-wrap" data-alignment="default"><div style="height: 500px;" class="divider"></div></div>
			</div> 
		</div>
	</div> 
</div>
</div>
		<div id="board-members" data-column-margin="default" data-midnight="dark" data-top-percent="7%" class="wpb_row vc_row-fluid vc_row full-width-section" style="padding-top: calc(100vw * 0.07); padding-bottom: 0px; ">
<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div id="fws_62f0177a8b259" data-midnight="" data-column-margin="80px" class="wpb_row vc_row-fluid vc_row inner_row  reverse_columns_column_phone">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  right">
	<div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column has-animation padding-4-percent inherit_tablet inherit_phone " data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="100">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="team-member" data-style="bio_fullscreen_alt">
<div class="team-member-image"><div class="team-member-image-inner"><img class="nectar-lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20283%20298'%2F%3E" data-nectar-img-src="../assets3/wp-content/uploads/2022/06/member_02.jpg" width="283" height="298" alt=""></div></div>
<div class="team-member-overlay"></div>    <div class="team-meta">
<h5>الرئيس التنفيذي للجنة السعودية لليوغا</h5>
<h3>المهندس/ أحمد محمد السعدي</h3>
<p></p>
</div>    <div class="nectar_team_bio_img" data-img-src="../assets3/wp-content/uploads/2022/06/member_02.jpg"></div>    <div class="nectar_team_bio"><div class="bottom_meta">
<a target="_blank"><i class="icon-default-style fa fa-linkedin"></i></a><a target="_blank"><i class="icon-default-style fa fa-instagram"></i></a><a target="_blank"><i class="icon-default-style fa fa-github-alt"></i></a>
</div></div>    </div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="team-member" data-style="bio_fullscreen_alt">
<div class="team-member-image"><div class="team-member-image-inner"><img class="nectar-lazy" src="data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%20283%20298'%2F%3E" data-nectar-img-src="../assets3/wp-content/uploads/2022/06/member01.jpg" width="283" height="298" alt=""></div></div>
<div class="team-member-overlay"></div>    <div class="team-meta">
<h5>رئيسة اللجنة السعودية لليوغا</h5>
<h3>الأستاذة/ نوف محمد المروعي</h3>
<p>*رسالة رئيس اللجنة السعودية لليوغا*</p>
</div>    <div class="nectar_team_bio_img" data-img-src="../assets3/wp-content/uploads/2022/06/member01.jpg"></div>    <div class="nectar_team_bio">Message of Chairwoman of Saudi Yoga Committee.<div class="bottom_meta">
<a target="_blank"><i class="icon-default-style fa fa-linkedin"></i></a><a target="_blank"><i class="icon-default-style fa fa-instagram"></i></a><a target="_blank"><i class="icon-default-style fa fa-github-alt"></i></a>
</div>
</div>    </div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 wpb_column column_container vc_column_container col child_column has-animation padding-4-percent inherit_tablet inherit_phone " data-padding-pos="top-bottom" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="50">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			
<div class="nectar-animated-title" data-style="color-strip-reveal" data-color="accent-color">
	<div class="nectar-animated-title-outer">
		<div class="nectar-animated-title-inner">
			<div class="wrap"><h6 style="color: #ffffff;">أعضاء</h6></div>
		</div>
	</div>
</div>
<div class="nectar-split-heading " data-align="right" data-m-align="inherit" data-text-effect="default" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="" data-stagger="true" data-custom-font-size="true" style="font-size: 3vw; line-height: 3.3vw;"><h3 style=" color: #1c5b50;">مجلس الإدارة</h3></div>
<div class="wpb_text_column wpb_content_element ">
	<div class="wpb_wrapper">
		<p>أعضاء مجلس الإدارة:</p>
	</div>
</div>



<div class="nectar-fancy-ul" data-list-icon="icon-salient-thin-line" data-animation="false" data-animation-delay="0" data-color="accent-color" data-spacing="default" data-alignment="left"> 
<ul>
<li>مرام قادري</li>
<li>آيات سمان</li>
<li>علاء جمل الليل</li>
<li>دعاء العربي</li>
<li>سمو الأميرة مشاعل</li>
</ul>
 </div>
		</div> 
	</div>
	</div> 
</div>
</div>
			</div> 
		</div>
	</div> 
</div>
</div>
		</div>
	</div>
	
	<partial name="_mainFooterAr" />
</div></div>