@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(culture.RequestCulture.UICulture.Name == "en")
{
	<div class="yoga-layout">
                <a class="btn btn-brown-outline">DOWNLOADS</a>
                <h1 class="page-header">Yogis Platform Handbook</h1>
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">Trainers Handbook</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="TrainersReferenceGuide.pdf" class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">Download</span></a></div>
                </div>
                <div class="handbook-seprator"></div>
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">Centers Handbook</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="YogaCentersReferenceGuide.pdf" class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">Download</span></a></div>
                </div>
                <div class="handbook-seprator"></div>
                
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">Tournaments & Competitons Handbook</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="CompetitionReferenceGuide.pdf" class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">Download</span></a></div>
                </div>
            </div>
}
else 
{
	<div class="yoga-layout">
                <a class="btn btn-brown-outline">التحميلات</a>
                <h1 class="page-header">كتيب منصة اليوغا</h1>
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">دليل المدربين</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="TrainersReferenceGuide.pdf"  class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">تحميل</span></a></div>
                </div>
                <div class="handbook-seprator"></div>
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">دليل المراكز</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="YogaCentersReferenceGuide.pdf" class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">تحميل</span></a></div>
                </div>
                
                <div class="handbook-seprator"></div>
                <div class="handbook-row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <img src="~/assets/images/handbook/File.png" />
                        <div class="file-details">
                            <p class="file-name">كتيب البطولات والمسابقات</p>
                            <p class="file-size">165.7 KB</p>
                        </div>
                    </div>
            <div> <a asp-action="Download" asp-controller="Home" asp-route-filename="CompetitionReferenceGuide.pdf" class="download-btn"><img src="~/assets/images/handbook/download.png" /> <span class="ms-2 d-none d-lg-block">تحميل</span></a></div>
                </div>
            </div>
}

