
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
			
		<div id="fws_62f017526d91b" data-column-margin="default" data-midnight="dark" data-top-percent="8%" data-bottom-percent="10%" class="wpb_row vc_row-fluid vc_row top-level full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-middle  zindex-set right_padding_6pct left_padding_6pct top_padding_tablet_20pct top_padding_phone_25pct" style="padding-top: calc(100vw * 0.08); padding-bottom: calc(100vw * 0.10);  z-index: 100;">
<div class="row-bg-wrap" data-bg-animation="fade-in" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div id="fws_62f017526fa74" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-4/5 vc_col-md-9 wpb_column column_container vc_column_container col child_column no-extra-padding bottom_margin_tablet_20px inherit_tablet inherit_phone " data-t-w-inherits="small_desktop" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-split-heading  font_size_tablet_9vw font_size_phone_10vw " data-align="default" data-m-align="inherit" data-text-effect="letter-reveal-bottom" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="true" data-stagger="true" data-custom-font-size="true" 
            style="font-size: 95px; line-height: 102.6px;padding:5%;">
                <h1>Platform Handbooks</h1></div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-1/5 vc_col-md-3 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_10px inherit_tablet inherit_phone mobile-disable-entrance-animation " data-t-w-inherits="small_desktop" data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="500">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			
		</div> 
	</div>
	</div> 
</div>
</div>
			</div> 
		</div>
	</div> 
</div>
</div>
		<div id="fws_62f017526ff84" data-column-margin="default" data-midnight="dark" data-bottom-percent="7%" class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  right_padding_8pct left_padding_8pct top_padding_tablet_20pct bottom_padding_tablet_15pct top_margin_tablet_0px" style="padding-top: 0px; padding-bottom: calc(100vw * 0.07); ">
<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false"><div class="inner-wrap"><div class="row-bg viewport-desktop"></div></div></div>
<div class="row_col_wrap_12 col span_12 dark left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
			<div class="wpb_wrapper">
				<div id="fws_62f01752701e3" data-midnight="" data-column-margin="default" class="wpb_row vc_row-fluid vc_row inner_row  right_padding_50pct bottom_padding_tablet_6pct right_padding_tablet_40pct" style="padding-bottom: 3%; ">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			
<div class="nectar-animated-title" data-style="color-strip-reveal" data-color="accent-color">
	<div class="nectar-animated-title-outer">
		<div class="nectar-animated-title-inner">
			<div class="wrap"><h6 style="color: #ffffff;">Downloads</h6></div>
		</div>
	</div>
</div>
<div class="nectar-split-heading " data-align="default" data-m-align="inherit" data-text-effect="default" data-animation-type="line-reveal-by-space" data-animation-delay="0" data-animation-offset="" data-m-rm-animation="" data-stagger="true" data-custom-font-size="true" style="font-size: 3vw; line-height: 3.3vw;"><h3 style=" color: #1c5b50;">Yogis’ Platform Handbooks</h3></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f017527052a" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="divider-wrap" data-alignment="default"><div style="margin-top: 22.5px; height: 1px; margin-bottom: 22.5px;" data-width="100%" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-border"></div></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f01752707b6" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-8 vc_col-xs-10 wpb_column column_container vc_column_container col child_column has-animation padding-5-percent el_spacing_10px inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-highlighted-text" data-style="full_text" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="">
<h4>Trainers Handbook</h4>
</div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 vc_col-xs-2 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit " data-color="default" data-using-bg="false" data-style="see-through" data-display="block" data-alignment="right" data-text-color="std"><h6> <span class="text"> </span><span class="link_wrap"><a class="link_text">Download Now<span class="arrow"></span></a></span>
</h6></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f0175271691" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="divider-wrap" data-alignment="default"><div style="margin-top: 22.5px; height: 1px; margin-bottom: 22.5px;" data-width="100%" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-border"></div></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f0175271933" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-8 vc_col-xs-10 wpb_column column_container vc_column_container col child_column has-animation padding-5-percent el_spacing_10px inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-highlighted-text" data-style="full_text" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="">
<h4>Centers Handbook</h4>
</div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 vc_col-xs-2 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit " data-color="default" data-using-bg="false" data-style="see-through" data-display="block" data-alignment="right" data-text-color="std"><h6> <span class="text"> </span><span class="link_wrap"><a class="link_text">Download Now<span class="arrow"></span></a></span>
</h6></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f0175272064" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="divider-wrap" data-alignment="default"><div style="margin-top: 22.5px; height: 1px; margin-bottom: 22.5px;" data-width="100%" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-border"></div></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f01752722f9" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-8 vc_col-xs-10 wpb_column column_container vc_column_container col child_column has-animation padding-5-percent el_spacing_10px inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-highlighted-text" data-style="full_text" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="">
<h4>Clubs Handbook</h4>
</div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 vc_col-xs-2 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit " data-color="default" data-using-bg="false" data-style="see-through" data-display="block" data-alignment="right" data-text-color="std"><h6> <span class="text"> </span><span class="link_wrap"><a class="link_text">Download Now<span class="arrow"></span></a></span>
</h6></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f017527299d" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="divider-wrap" data-alignment="default"><div style="margin-top: 22.5px; height: 1px; margin-bottom: 22.5px;" data-width="100%" data-animate="yes" data-animation-delay="" data-color="accent-color" class="divider-border"></div></div>
		</div> 
	</div>
	</div> 
</div>
</div>
<div id="fws_62f0175272c14" data-midnight="" data-column-margin="none" class="wpb_row vc_row-fluid vc_row inner_row vc_row-o-equal-height vc_row-flex vc_row-o-content-middle">
<div class="row-bg-wrap"> <div class="row-bg"></div> </div>
<div class="row_col_wrap_12_inner col span_12  left">
	<div class="vc_col-sm-8 vc_col-xs-10 wpb_column column_container vc_column_container col child_column has-animation padding-5-percent el_spacing_10px inherit_tablet inherit_phone " data-padding-pos="right" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-highlighted-text" data-style="full_text" data-exp="default" data-using-custom-color="false" data-animation-delay="false" data-color="" data-color-gradient="">
<h4>Tournaments &amp; Competitions Handbook</h4>
</div>
		</div> 
	</div>
	</div> 

	<div class="vc_col-sm-4 vc_col-xs-2 wpb_column column_container vc_column_container col child_column no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
		<div class="vc_column-inner">
		<div class="wpb_wrapper">
			<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit " data-color="default" data-using-bg="false" data-style="see-through" data-display="block" data-alignment="right" data-text-color="std"><h6> <span class="text"> </span><span class="link_wrap"><a class="link_text">Download Now<span class="arrow"></span></a></span>
</h6></div>
		</div> 
	</div>
	</div> 
</div>
</div>
			</div> 
		</div>
	</div> 
</div>
</div>
		</div>
	</div>


	<partial name="_mainFooter" />