<!-- 
<link rel="stylesheet" href="~/assets/css/accord.css">
-->
<!-- Prices
    ================================================== -->
<!---->
<section>
    <div id="prices-section" class="pad-sec">
        <div class="container">
            <div class="title-section text-center animated out" data-animation="fadeInUp" data-delay="0">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h1>
                            FAQ's
                        </h1>
                    </div>
                </div> <!-- End row -->
            </div> <!-- end title-section -->

            <div class="row">
                <div class="col-sm-12">
                    <section class="ftco-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    Commong Soon
                                </div>
                            </div>
                            @* <div class="row justify-content-center">
                                <div class="col-md-8 col-lg-6">
                                    <div id="accordion" class="myaccordion w-100">
                                        <div class="card">
                                            <div class="card-header py-3 px-4" id="headingOne">
                                                <h2 class="mb-0">
                                                    <button
                                                        class="d-flex align-items-center justify-content-between btn btn-link"
                                                        data-toggle="collapse" data-target="#collapseOne"
                                                        aria-expanded="true" aria-controls="collapseOne">
                                                        Spa Therapies
                                                        <i class="fa" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                                data-parent="#accordion">
                                                <div class="card-body py-md-5 px-4">
                                                    <ul>
                                                        <li class="d-sm-flex">
                                                            <span>Face Treatments</span>
                                                            <span>40 min.</span>
                                                            <span>$10</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Nail Treatments</span>
                                                            <span>30 min.</span>
                                                            <span>$20</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Medical Treatments</span>
                                                            <span>60 min.</span>
                                                            <span>$10</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Hair Treatments</span>
                                                            <span>30 min.</span>
                                                            <span>$30</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header py-3 px-4" id="headingTwo">
                                                <h2 class="mb-0">
                                                    <button
                                                        class="d-flex align-items-center justify-content-between btn btn-link collapsed"
                                                        data-toggle="collapse" data-target="#collapseTwo"
                                                        aria-expanded="false" aria-controls="collapseTwo">
                                                        Massage Therapies
                                                        <i class="fa" aria-hidden="true"></i>
                                                    </button>
                                                </h2>
                                            </div>
                                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                                data-parent="#accordion">
                                                <div class="card-body py-md-5 px-4">
                                                    <ul>
                                                        <li class="d-sm-flex">
                                                            <span>Face Treatments</span>
                                                            <span>40 min.</span>
                                                            <span>$10</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Nail Treatments</span>
                                                            <span>30 min.</span>
                                                            <span>$20</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Medical Treatments</span>
                                                            <span>60 min.</span>
                                                            <span>$10</span>
                                                        </li>
                                                        <li class="d-sm-flex">
                                                            <span>Hair Treatments</span>
                                                            <span>30 min.</span>
                                                            <span>$30</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div> <!-- end col-sm-4 -->




            </div> <!-- end row --> *@
        </div> <!-- end container -->
    </div>
</section>
<!-- End prices section -->


@* <script src="~/assets/css/ionicons.min.css"></script> *@
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
-->