<!-- Features App 2
    ================================================== -->
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
<section>
    <div id="features-app-section-2" class="pad-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft" data-delay="0">
                    <div class="section_header">
                        <h2>@localizer["Soon"]</span></h2>
                    </div> <!-- End section_header -->
                    

                </div> <!-- End feature-content -->

                

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End feature-section -->
</section>
<!-- End Features App 2 section -->

<section>
    <div class="sep-section"></div>
</section>

