@{
    Layout = "~/Views/Shared/_Layoutar.cshtml";
}

<!-- Features App 2
    ================================================== -->
<section dir="rtl">
    <div id="features-app-section-2" class="pad-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft" data-delay="0">
                    <div class="section_header" style="padding:10%;">
                        <h2>قريبا</span></h2>
                    </div> <!-- End section_header -->
                    

                </div> <!-- End feature-content -->

                

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End feature-section -->
</section>
<!-- End Features App 2 section -->

<section>
    <div class="sep-section"></div>
</section>

<partial name="_mainFooterAr" />