@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="yoga-layout">

	@if(culture.RequestCulture.UICulture.Name == "en")
	{
		<div id="yoga-history">
		<h1 class="page-header">@localizer["PageTitle"]</h1>
		<img src="~/assets/images/yogahistory/intro.png" />

		<p class="yoga-history-desc">
			Yoga is an ancient Indian sport with roots in the Indus Valley Civilization, which dates back more
			than 5,000 years. It is one of the most important ancient practices, which gives its practitioner
			vitality, physical activity, mental control, and focus. Since then, people in India have been
			practicing yoga. Over time, it evolved into various types and schools, and spread around the world,
			becoming known as the sport of physical and mental well-being. One of its benefits is that it is
			suitable for people of all ages and groups, and it can be practiced by people from all walks of
			life.
		</p>
		<p class="yoga-history-desc">
			Studies have shown that practicing yoga can have a significant impact on physical health and can
			combat modern-day diseases caused by stress. It also has a positive effect on the practitioner’s
			mental and psychological health.
		</p>
		<p class="yoga-history-desc">
			Some of the most important yoga practices include Asanas (physical postures), Pranayama (breathing
			exercises), Dhyana (meditation exercises), and Yoga Nnidra (total deep relaxation). These postures
			are practiced while controlling the breathing rhythm in a meditative manner, which brings about a
			state of focus and balance even if the poses are difficult.
		</p>
		<p class="yoga-history-desc">
			Saudi Arabia has tens of thousands of yogis, as well as thousands of Saudi yoga trainers. The Saudi
			Yoga Committee works to support them, develop sports, build capabilities, and empower them to
			contribute to promoting yoga in society and expanding the public base of yoga lovers, practitioners,
			and trainers in Saudi Arabia.
		</p>
		<p class="yoga-history-desc">
			Yoga is an important and very useful recreational sport for children, adults, and the elderly
			because it provides health, well-being, and recreation in proportion to their physical and
			psychological needs. There are also several types of yoga that are practiced in Saudi Arabia, which
			are classified as follows:
		</p>
		<ul class="yoga-history-desc">
			<li>Yoga for Health and Wellbeing</li>
			<li>Yoga Asana Sports</li>
			<li>Yoga Therapy</li>
		</ul>
		<p class="yoga-history-desc">
			According to the Saudi Yoga Committee’s regulations, each type of yoga has specific conditions and
			requirements for training and practice in order to ensure a health, safe and effective yoga practice
			that benefits everyone.
		</p>
	</div>
	}
	else 
	{
		<div id="yoga-history">
                <h1 class="page-header">تاريخ اليوجا</h1>
                <img src="~/assets/images/yogahistory/intro.png" />

                <p class="yoga-history-desc">
                    اليوغا هي رياضة هندية قديمة لها جذور في حضارة وادي السند ، والتي يعود تاريخها إلى أكثر من 5000 عام. وهي من أهم الممارسات القديمة التي تمنح ممارسها الحيوية والنشاط البدني والسيطرة الذهنية والتركيز. منذ ذلك الحين ، يمارس الناس في الهند اليوجا. بمرور الوقت ، تطورت إلى أنواع ومدارس مختلفة ، وانتشرت في جميع أنحاء العالم ، وأصبحت تُعرف باسم رياضة الرفاهية الجسدية والعقلية. ومن فوائده أنه مناسب للأشخاص من جميع الأعمار والفئات ، ويمكن أن يمارسه الناس من جميع مناحي الحياة.
                </p>
                <p class="yoga-history-desc">
                    أظهرت الدراسات أن ممارسة اليوجا يمكن أن يكون لها تأثير كبير على الصحة البدنية ويمكن أن تحارب أمراض العصر الحديث التي يسببها الإجهاد. كما أن لها تأثير إيجابي على الصحة العقلية والنفسية للممارس.
                </p>
                <p class="yoga-history-desc">
                    تشمل بعض أهم ممارسات اليوجا أساناس (المواقف الجسدية) وبراناياما (تمارين التنفس) وديانا (تمارين التأمل) ويوجا نيدرا (الاسترخاء التام العميق). تتم ممارسة هذه المواقف أثناء التحكم في إيقاع التنفس بطريقة تأملية ، مما يؤدي إلى حالة من التركيز والتوازن حتى لو كانت الأوضاع صعبة.
                </p>
                <p class="yoga-history-desc">
                    يوجد في المملكة العربية السعودية عشرات الآلاف من اليوغيين ، فضلاً عن الآلاف من مدربي اليوغا السعوديين. تعمل اللجنة السعودية لليوجا على دعمهم وتطوير الرياضة وبناء القدرات وتمكينهم من المساهمة في تعزيز اليوجا في المجتمع وتوسيع القاعدة العامة لمحبي اليوجا والممارسين والمدربين في المملكة العربية السعودية.
                </p>
                <p class="yoga-history-desc">
                    تعتبر اليوجا رياضة ترفيهية مهمة ومفيدة للغاية للأطفال والكبار وكبار السن لأنها توفر لهم الصحة والرفاهية والترفيه بما يتناسب مع احتياجاتهم الجسدية والنفسية. كما توجد عدة أنواع من اليوجا التي تُمارس في المملكة العربية السعودية ، والتي تُصنف على النحو التالي:
                </p>
                <ul class="yoga-history-desc">
                    <li>اليوجا من أجل الصحة والعافية</li>
                    <li>يوجا اسانا سبورتس</li>
                    <li>علاج اليوجا</li>
                </ul>
                <p class="yoga-history-desc">
                    وفقًا للوائح اللجنة السعودية لليوجا ، فإن كل نوع من أنواع اليوجا له شروط ومتطلبات محددة للتدريب والممارسة من أجل ضمان ممارسة يوجا صحية وآمنة وفعالة تفيد الجميع.
                </p>
            </div>
	}
</div>