<!-- Features App 2
    ================================================== -->
<section>
    <div id="features-app-section-2" class="pad-sec">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 features-app-content-left animated out" data-animation="fadeInLeft" data-delay="0">
                    <div class="section_header">
                        <h2>Yoga History</span></h2>
                    </div> <!-- End section_header -->
                    <p>
                        Yoga is an ancient Indian sport with roots in the Indus Valley Civilization, which dates back
                        more than 5,000 years. It is one of the most important ancient practices, which gives its
                        practitioner vitality, physical activity, mental control, and focus. Since then, people in India
                        have been practicing yoga. Over time, it evolved into various types and schools, and spread
                        around the world, becoming known as the sport of physical and mental well-being. One of its
                        benefits is that it is suitable for people of all ages and groups, and it can be practiced by
                        people from all walks of life.

                        Studies have shown that practicing yoga can have a significant impact on physical health and can
                        combat modern-day diseases caused by stress. It also has a positive effect on the practitioner’s
                        mental and psychological health.

                        Some of the most important yoga practices include Asanas (physical postures), Pranayama
                        (breathing exercises), Dhyana (meditation exercises), and Yoga Nnidra (total deep relaxation).
                        These postures are practiced while controlling the breathing rhythm in a meditative manner,
                        which brings about a state of focus and balance even if the poses are difficult.

                        Saudi Arabia has tens of thousands of yogis, as well as thousands of Saudi yoga trainers. The
                        Saudi Yoga Committee works to support them, develop sports, build capabilities, and empower them
                        to contribute to promoting yoga in society and expanding the public base of yoga lovers,
                        practitioners, and trainers in Saudi Arabia.

                        Yoga is an important and very useful recreational sport for children, adults, and the elderly
                        because it provides health, well-being, and recreation in proportion to their physical and
                        psychological needs. There are also several types of yoga that are practiced in Saudi Arabia,
                        which are classified as follows:

                    <ul>
                        <li>Yoga for Health and Wellbeing</li>
                        <li>Yoga Asana Sports</li>
                        <li>Yoga Therapy</li>
                    </ul>

                    According to the Saudi Yoga Committee’s regulations, each type of yoga has specific conditions
                    and requirements for training and practice in order to ensure a health, safe and effective yoga
                    practice that benefits everyone.
                    </p>

                </div> <!-- End feature-content -->

                <div class="col-sm-5 col-sm-offset-1 text-center img-app-right animated out"
                    data-animation="fadeInRight" data-delay="0">
                    <figure>
                        <img src="~/assets/images/platforms/ysa.jpg" alt="Yoga">
                    </figure>
                </div> <!-- End col-sm-8 -->

            </div> <!-- End row -->
        </div> <!-- End container -->
    </div> <!-- End feature-section -->
</section>
<!-- End Features App 2 section -->

<section>
    <div class="sep-section"></div>
</section>

