@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x=> new SelectListItem {Value = x.Name, Text = x.Name})
    .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
                <div id="banner-outer-container">
                    <div class="banner-container">
                        <div class="banner d-flex align-items-center justify-content-center">
                            <div id="circle-one" class="circle"></div>
                            <div id="circle-two" class="circle"></div>
                            <div id="circle-three" class="circle"></div>
                            <div id="circle-one-rotate" class="circle"></div>
                            <div id="circle-two-rotate" class="circle"></div>
                            <div id="circle-three-rotate" class="circle"></div>
                            <div id="banner-title">
                                <div id="title-ar">
                                    اللجنة السعودية لليوغا
                                </div>
                                <div id="title-en">
                                    saudi yoga committee
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="about-us-container">
                <div id="about-us">
                    <div class="about-us-content container">
							@if(@culture.RequestCulture.UICulture.Name == "en")
							{
								<a type="button" class="btn btn-brown-outline about-btn">ABOUT US</a>
							}
							else {
								<a type="button" class="btn btn-brown-outline about-btn">من نحن</a>
							}
							
                        @if(@culture.RequestCulture.UICulture.Name == "en")
						{
							<div class="about-us-title">Who We Are</div>
						}
						else {
							<div class="about-us-title">معلومات عنا</div>
						}
                        @if(@culture.RequestCulture.UICulture.Name == "en")
						{
							<div class="about-us-desc">
                            The Saudi Yoga Committee is a sports committee that operates under the Saudi Arabian Olympic
                            Committee, which is affiliated with the Ministry of Sports. The Committee was formed in 2021
                            to respond to the growing popularity of this sport in Saudi Arabia. Yoga has a large fan
                            base across the country, and there is a genuine desire to supervise and develop its
                            activities, as well as to support and improve the performance of yogis and sport
                            professionals. A true desire exists to improve training quality and activate national
                            participation in future international yoga tournaments and competitions.
                        </div>
						}
						else {
							<div class="about-us-desc">
																اللجنة السعودية لليوغا هي لجنة رياضية تحت مظلة اللجنة الأولمبية العربية السعودية التابعة لوزارة الرياضة، تأسست في العام
																2021م، وجاء تأسيس اللجنة نظراً لشعبية رياضة اليوغا وانتشارها الواسع في المملكة العربية السعودية، ووجود قاعدة جماهيرية
																لها، والرغبة الجادة في الإشراف على أنشطة هذه الرياضة في المملكة والعمل على تطويرها ودعم ممارسيها ومحترفيها، لتطوير
																أدائهم وتحسين جودة التدريب في المملكة لتحسين وتفعيل المشاركة الوطنية في البطولات والمسابقات الدولية الخاصة برياضة اليوغا
																مستقبلاً.

							</div>
						}
                    </div>
                    <img src="~/assets/images/about.jpg">
                </div>
            </div>
            <div id="objectives-desktop-container">
                <div id="objectives-container">
                    <div id="objectives" class="container">

                        @if(@culture.RequestCulture.UICulture.Name == "en")
						{
							<div id="objectives-title">Aims & Objectives</div>
						}
						else {
							<div id="objectives-title">الغايات والأهداف</div>
						}
                        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center align-items-lg-start">

                            <div class="objective-column">
                                <div class="objective-title">
                                    <img src="~/assets/images/brown-star.png">
									@if(@culture.RequestCulture.UICulture.Name == "en")
									{
											<div>
												TO INCREASE THE NUMBER OF YOGIS IN SOCIETY
											</div>
									}
									else {
											<div>
												الوصول إلى مجتمع يعي أهمية
												الصحة النفسية والبدنية
											</div>
									}
                                   
                                </div>
                                
								@if(@culture.RequestCulture.UICulture.Name == "en")
								{
									<div class="objective-desc">
                                    As well as to raise awareness and enthusiasm for yoga as a way of life for all
                                    segments
                                    of
                                    society and all ages. This will be accomplished by increasing and encouraging
                                    activities
                                    and
                                    initiatives, as well as building a generation of sports enthusiasts and
                                    professionals
                                    who
                                    are driven by a genuine desire to create a healthy sports society that recognizes
                                    that
                                    yoga
                                    is for everyone. It will also help stand out in local and international competitions
                                    and
                                    events.
                                </div>
								}
								else 
								{
									<div class="objective-desc">
                                    وكذلك زيادة الوعي والحماس لليوغا كأسلوب حياة لجميع شرائح المجتمع وكافة الأعمار. سيتم تحقيق ذلك من خلال زيادة الأنشطة والمبادرات وتشجيعها ، فضلاً عن بناء جيل من عشاق الرياضة والمهنيين الذين تحركهم رغبة حقيقية في إنشاء مجتمع رياضي صحي يدرك أن اليوغا للجميع. كما سيساعد على التميز في المسابقات والأحداث المحلية والدولية.
                                </div>
								}
                            </div>

                            <div class="objective-column">
                                <div class="objective-title">
                                    <img src="~/assets/images/brown-star.png">
                                    @if(@culture.RequestCulture.UICulture.Name == "en")
									{
									<div>
                                        TO BE THE REGIONAL BEACON
                                    </div>
									}
									else {
										<div>
                                        أن نكون الفنار الإقليمي الداعم 
والمنظم لرياضة اليوغا
                                    </div>
									}
                                </div>
                               @if(@culture.RequestCulture.UICulture.Name == "en")
							   {
								 <div class="objective-desc">
                                    Supports and regulates this sport and develops sustainable educational and
                                    recreational
                                    programs, raises public awareness, and prepares members of society to practice and
                                    be
                                    aware
                                    of its correct content and principles. This will lead to physical and mental
                                    well-being.
                                </div>
							   }
							   else
							    {
									<div class="objective-desc">
                                    تدعم هذه الرياضة وتنظمها وتطور برامج تعليمية وترفيهية مستدامة وتوعية الجمهور وتهيئ أفراد المجتمع لممارستها والاطلاع على محتواها ومبادئها الصحيحة. هذا سوف يؤدي إلى الرفاهية الجسدية والعقلية.
                                </div>
							   }
                            </div>

                            <div class="objective-column">
                                <div class="objective-title">
                                    <img src="~/assets/images/brown-star.png">
                                   @if(@culture.RequestCulture.UICulture.Name == "en")
								   {
									 <div>
                                        TO HELP SOCIETY
                                    </div>
								   }
								   else {
									<div>
                                        للمساعدة المجتمع
                                    </div>
								   }
                                </div>
                               @if(@culture.RequestCulture.UICulture.Name == "en")
							   {
								 <div class="objective-desc">
                                    realizes the importance of mental and physical health and its impact on daily life
                                    by
                                    providing and supporting various types of sports programs and awareness sessions for
                                    all
                                    community groups.
                                </div>
							   }
							   else 
							   {
								<div class="objective-desc">
                                    العمل على زيادة عدد الممارسين لرياضة اليوغا
                                </div>
							   }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="platform" class="text-center">
                @if(@culture.RequestCulture.UICulture.Name == "en")
				{
					<div class="header">Yogis’ Platform Licenses</div>
				}
				else {
					<div class="header">منصة اليوغيين</div>
				}
                @if(@culture.RequestCulture.UICulture.Name == "en")
				{
					<div id="platform-desc">
                    <div>This platform serves as a comprehensive resource for certified</div>
                    <div>trainers, centers, gyms, and yoga clubs in Saudi Arabia.</div>
                </div>
				}
				else {
					<div id="platform-desc">
                    <div> تعتبر هذه المنصة بمثابة دليل كامل للمدربين والمراكز</div>
                    <div> والصالات و اندية اليوغا المعتمدة في المملكة.</div>
                </div>
				}
                @if(culture.RequestCulture.UICulture.Name == "en")
				{
					<div class="platform-licenses row row-cols-2 row-cols-lg-5 align-items-center justify-content-lg-between justify-content-center">
                    <div class="show-on-scroll">
                        <img src="~/assets/images/amateurs.png" />
                        <p>AMATEURS</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="~/assets/images/trainers.png" />
                        <p>TRAINERS (PROGRAM)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="~/assets/images/centers.png" />
                        <p>CENTERS & GYMS (COMPETITION)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="~/assets/images/clubs.png" />
                        <p>CLUBS (COMPETITION)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="~/assets/images/yogasan.png" />
                        <p>YOGASAN SPORTATHLETS</p>
                    </div>

                </div>
				}
				else {
					<div class="platform-licenses row row-cols-2 row-cols-lg-5 align-items-center justify-content-lg-between justify-content-center">
                   
                    
                    <div class="show-on-scroll">
                        <img src="assets/images/yogasan.png" />
                        <p>لاعبين اليوغا
                            (محترف)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="assets/images/clubs.png" />
                        <p>الأندية (منافسة)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="assets/images/centers.png" />
                        <p>المراكز والألعاب الرياضية
                            (منافسة)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="assets/images/trainers.png" />
                        <p>المدربون (برنامج)</p>
                    </div>
                    <div class="show-on-scroll">
                        <img src="assets/images/amateurs.png" />
                        <p>الهواة</p>
                    </div>

                </div>
				}
                @if(@culture.RequestCulture.UICulture.Name == "en")
				{
					<a class="btn show-on-scroll" href="#" role="button">BUY NOW</a>
				}
				else {
					<a class="btn show-on-scroll" href="#" role="button">اشتري الآن</a>
				}
            </div>