@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions;
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
}
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="yoga-layout">

	
		<div id="yoga-history">
		<h1 class="page-header">@localizer["PageTitle"]</h1>
		

		<p class="yoga-history-desc">
			@localizer["desc"]
		</p>
		
		
		
	</div>
	
	@* else 
	{
		<div id="yoga-history">
                <h1 class="page-header">تاريخ اليوجا</h1>
                <img src="~/assets/images/yogahistory/intro.png" />

                <p class="yoga-history-desc">
                    اليوغا هي رياضة هندية قديمة لها جذور في حضارة وادي السند ، والتي يعود تاريخها إلى أكثر من 5000 عام. وهي من أهم الممارسات القديمة التي تمنح ممارسها الحيوية والنشاط البدني والسيطرة الذهنية والتركيز. منذ ذلك الحين ، يمارس الناس في الهند اليوجا. بمرور الوقت ، تطورت إلى أنواع ومدارس مختلفة ، وانتشرت في جميع أنحاء العالم ، وأصبحت تُعرف باسم رياضة الرفاهية الجسدية والعقلية. ومن فوائده أنه مناسب للأشخاص من جميع الأعمار والفئات ، ويمكن أن يمارسه الناس من جميع مناحي الحياة.
                </p>
                <p class="yoga-history-desc">
                    أظهرت الدراسات أن ممارسة اليوجا يمكن أن يكون لها تأثير كبير على الصحة البدنية ويمكن أن تحارب أمراض العصر الحديث التي يسببها الإجهاد. كما أن لها تأثير إيجابي على الصحة العقلية والنفسية للممارس.
                </p>
                <p class="yoga-history-desc">
                    تشمل بعض أهم ممارسات اليوجا أساناس (المواقف الجسدية) وبراناياما (تمارين التنفس) وديانا (تمارين التأمل) ويوجا نيدرا (الاسترخاء التام العميق). تتم ممارسة هذه المواقف أثناء التحكم في إيقاع التنفس بطريقة تأملية ، مما يؤدي إلى حالة من التركيز والتوازن حتى لو كانت الأوضاع صعبة.
                </p>
                <p class="yoga-history-desc">
                    يوجد في المملكة العربية السعودية عشرات الآلاف من اليوغيين ، فضلاً عن الآلاف من مدربي اليوغا السعوديين. تعمل اللجنة السعودية لليوجا على دعمهم وتطوير الرياضة وبناء القدرات وتمكينهم من المساهمة في تعزيز اليوجا في المجتمع وتوسيع القاعدة العامة لمحبي اليوجا والممارسين والمدربين في المملكة العربية السعودية.
                </p>
                <p class="yoga-history-desc">
                    تعتبر اليوجا رياضة ترفيهية مهمة ومفيدة للغاية للأطفال والكبار وكبار السن لأنها توفر لهم الصحة والرفاهية والترفيه بما يتناسب مع احتياجاتهم الجسدية والنفسية. كما توجد عدة أنواع من اليوجا التي تُمارس في المملكة العربية السعودية ، والتي تُصنف على النحو التالي:
                </p>
                <ul class="yoga-history-desc">
                    <li>اليوجا من أجل الصحة والعافية</li>
                    <li>يوجا اسانا سبورتس</li>
                    <li>علاج اليوجا</li>
                </ul>
                <p class="yoga-history-desc">
                    وفقًا للوائح اللجنة السعودية لليوجا ، فإن كل نوع من أنواع اليوجا له شروط ومتطلبات محددة للتدريب والممارسة من أجل ضمان ممارسة يوجا صحية وآمنة وفعالة تفيد الجميع.
                </p>
            </div>
	} *@
</div>