@inject UserManager<AppUser> userManager
@{
    var user = await userManager.GetUserAsync(User);
    string firstName = "";
    if(user != null)
    {
        firstName = $"{user.FirstName}";
    }
    
}
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

    @if(User.Identity.IsAuthenticated)
    {
        <a asp-controller="Account" asp-action="UserProfile">@firstName</a>
        
        @* <li class="nav-item"> *@
            <form class="form-inline" asp-controller="Account" asp-action="Logout">
                <button style="border: none;background-color:#EEEAE3" type="submit">@localizer["Logout"]</button>
            </form>
        @* </li> *@
    }
    else
    {

        <li>
            <a asp-controller="Account" asp-action="Login">@localizer["MyAccount"]</a>
        </li>
    
    }
