<div class="nectar-global-section before-footer">
						<div class="container normal-container row">
							<div id="fws_62f0174b9c120" data-column-margin="default" data-midnight="dark"
								data-top-percent="6%" data-bottom-percent="6%"
								class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  right_padding_8pct left_padding_8pct top_padding_tablet_20pct bottom_padding_tablet_12pct"
								style="padding-top: calc(100vw * 0.06); padding-bottom: calc(100vw * 0.06); ">
								<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
									<div class="inner-wrap">
										<div class="row-bg viewport-desktop using-bg-color"
											style="background-color: #efece5; "></div>
									</div>
								</div>
								<div class="nectar-shape-divider-wrap " style=" height:1px;" data-height="1"
									data-front="" data-style="straight_section" data-position="top"><svg
										class="nectar-shape-divider" aria-hidden="true" fill="rgba(0,0,0,0.1)"
										xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10"
										preserveaspectratio="none">
										<polygon points="104 10, 104 0, 0 0, 0 10"></polygon>
									</svg></div>
								<div class="nectar-shape-divider-wrap " style=" height:1px;" data-height="1"
									data-front="" data-style="straight_section" data-position="bottom"><svg
										class="nectar-shape-divider" aria-hidden="true" fill="rgba(0,0,0,0.1)"
										xmlns="http://www.w3.org/2000/svg" viewbox="0 0 100 10"
										preserveaspectratio="none">
										<polygon points="104 10, 104 0, 0 0, 0 10"></polygon>
									</svg></div>
								<div class="row_col_wrap_12 col span_12 dark left">
									<div class="vc_col-sm-6 wpb_column column_container vc_column_container col force-phone-text-align-center has-animation no-extra-padding inherit_tablet inherit_phone border_style_solid "
										data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
										data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div id="fws_62f0174b9c321" data-midnight=""
													data-column-margin="default"
													class="wpb_row vc_row-fluid vc_row inner_row  right_padding_40pct bottom_padding_tablet_10pct right_padding_phone_10pct left_padding_phone_10pct">
													<div class="row-bg-wrap">
														<div class="row-bg"></div>
													</div>
													<div class="row_col_wrap_12_inner col span_12  left">
														<div class="vc_col-sm-12 wpb_column column_container vc_column_container col child_column no-extra-padding el_spacing_10px inherit_tablet inherit_phone "
															data-padding-pos="all" data-has-bg-color="false"
															data-bg-color="" data-bg-opacity="1" data-animation=""
															data-delay="0">
															<div class="vc_column-inner">
																<div class="wpb_wrapper">
																	<h4 style="color: #5c6146;text-align: left"
																		class="vc_custom_heading">Who We Are</h4>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>
                                                                            The Saudi Yoga Committee is a sports committee that 
                                                                            operates under the Saudi Arabian Olympic Committee, 
                                                                            which is affiliated with the Ministry of Sports
                                                                        </p>
																	</div>
																	<div class="nectar-cta  alignment_tablet_default alignment_phone_default display_tablet_inherit display_phone_inherit "
																		data-color="accent-color" data-using-bg="true"
																		data-style="text-reveal-wave"
																		data-display="block" data-alignment="left"
																		data-text-color="custom"
																		style="margin-top: 35px; ">
																		<h5 style="color: #ffffff;"><span
																				class="link_wrap"
																				style="padding-top: 15px; padding-right: 35px; padding-bottom: 15px; padding-left: 35px;"><a
																					class="link_text"><span
																						class="text"><span
																							class="char">C</span><span
																							class="char">o</span><span
																							class="char">n</span><span
																							class="char">t</span><span
																							class="char">a</span><span
																							class="char">c</span><span
																							class="char">t</span> <span
																							class="char">U</span><span
																							class="char">s</span></span></a></span>
																		</h5>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="vc_col-sm-6 wpb_column column_container vc_column_container col force-phone-text-align-center no-extra-padding inherit_tablet inherit_phone "
										data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
										data-bg-opacity="1" data-animation="" data-delay="0">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div id="fws_62f0174b9d922" data-midnight="" data-column-margin="50px"
													class="wpb_row vc_row-fluid vc_row inner_row">
													<div class="row-bg-wrap">
														<div class="row-bg"></div>
													</div>
													<div class="row_col_wrap_12_inner col span_12  left">
														<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation padding-5-percent el_spacing_0px bottom_margin_phone_40px no-extra-padding_tablet no-extra-padding_phone "
															data-t-w-inherits="small_desktop" data-padding-pos="left"
															data-has-bg-color="false" data-bg-color=""
															data-bg-opacity="1" data-animation="fade-in-from-bottom"
															data-delay="150">
															<div class="vc_column-inner">
																<div class="wpb_wrapper">
																	<h4 style="color: #5c6146;text-align: left"
																		class="vc_custom_heading">Address</h4>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>The Castle</p>
																	</div>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>345 2500 Castle Dr.</p>
																	</div>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>Port Douglas, Queensland</p>
																	</div>
																</div>
															</div>
														</div>

														<div class="vc_col-sm-6 wpb_column column_container vc_column_container col child_column has-animation no-extra-padding el_spacing_0px bottom_margin_tablet_0px bottom_margin_phone_0px inherit_tablet inherit_phone "
															data-t-w-inherits="small_desktop" data-padding-pos="all"
															data-has-bg-color="false" data-bg-color=""
															data-bg-opacity="1" data-animation="fade-in-from-bottom"
															data-delay="300">
															<div class="vc_column-inner">
																<div class="wpb_wrapper">
																	<h4 style="color: #5c6146;text-align: left"
																		class="vc_custom_heading">Connect</h4>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>T: 0966 53 353 3127</p>
																	</div>
																	<div class="nectar-split-heading  font_size_tablet_16px font_line_height_1-6 "
																		data-align="default" data-m-align="inherit"
																		data-text-effect="none"
																		data-animation-type="line-reveal-by-space"
																		data-animation-delay="0"
																		data-animation-offset="" data-m-rm-animation=""
																		data-stagger="" data-custom-font-size="true"
																		style="font-size: 1.05vw; line-height: 1.155vw;">
																		<p>E: Info@yoga.sa</p>
																	</div>
																	<div class="wpb_text_column wpb_content_element ">
																		<div class="wpb_wrapper">
																			<p> </p>
																		</div>
																	</div>




																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="fws_62f0174b9e1e1" data-column-margin="default" data-midnight="dark"
								class="wpb_row vc_row-fluid vc_row full-width-content vc_row-o-equal-height vc_row-flex vc_row-o-content-top  right_padding_8pct left_padding_8pct top_padding_tablet_6pct bottom_padding_tablet_6pct"
								style="padding-top: 28px; padding-bottom: 28px; ">
								<div class="row-bg-wrap" data-bg-animation="none" data-bg-overlay="false">
									<div class="inner-wrap">
										<div class="row-bg viewport-desktop using-bg-color"
											style="background-color: #efece5; "></div>
									</div>
								</div>
								<div class="row_col_wrap_12 col span_12 dark left">
									<div class="vc_col-sm-4 wpb_column column_container vc_column_container col force-tablet-text-align-center force-phone-text-align-center has-animation no-extra-padding inherit_tablet inherit_phone "
										data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
										data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
										data-animation-offset="101%">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">

												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<p><b>© </b><span class="nectar-current-year">2022</span>
															Copyright. All Right Reserved</p>
													</div>
												</div>




											</div>
										</div>
									</div>

									<div class="vc_col-sm-8 wpb_column column_container vc_column_container col force-tablet-text-align-center force-phone-text-align-center has-animation no-extra-padding inherit_tablet inherit_phone "
										data-padding-pos="all" data-has-bg-color="false" data-bg-color=""
										data-bg-opacity="1" data-animation="fade-in-from-bottom" data-delay="0"
										data-animation-offset="101%">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>